# [zoodb]

In [0]:
USE [master]
GO

In [0]:
/****** Object:  Database [zoodb]    Script Date: 22/11/2025 21:40:08 ******/
CREATE DATABASE [zoodb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'zoodb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\zoodb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'zoodb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\zoodb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
ALTER DATABASE [zoodb] SET COMPATIBILITY_LEVEL = 160
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [zoodb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
ALTER DATABASE [zoodb] SET ANSI_NULL_DEFAULT OFF 
GO
ALTER DATABASE [zoodb] SET ANSI_NULLS OFF 
GO
ALTER DATABASE [zoodb] SET ANSI_PADDING OFF 
GO
ALTER DATABASE [zoodb] SET ANSI_WARNINGS OFF 
GO
ALTER DATABASE [zoodb] SET ARITHABORT OFF 
GO
ALTER DATABASE [zoodb] SET AUTO_CLOSE OFF 
GO
ALTER DATABASE [zoodb] SET AUTO_SHRINK OFF 
GO
ALTER DATABASE [zoodb] SET AUTO_UPDATE_STATISTICS ON 
GO
ALTER DATABASE [zoodb] SET CURSOR_CLOSE_ON_COMMIT OFF 
GO
ALTER DATABASE [zoodb] SET CURSOR_DEFAULT  GLOBAL 
GO
ALTER DATABASE [zoodb] SET CONCAT_NULL_YIELDS_NULL OFF 
GO
ALTER DATABASE [zoodb] SET NUMERIC_ROUNDABORT OFF 
GO
ALTER DATABASE [zoodb] SET QUOTED_IDENTIFIER OFF 
GO
ALTER DATABASE [zoodb] SET RECURSIVE_TRIGGERS OFF 
GO
ALTER DATABASE [zoodb] SET  ENABLE_BROKER 
GO
ALTER DATABASE [zoodb] SET AUTO_UPDATE_STATISTICS_ASYNC OFF 
GO
ALTER DATABASE [zoodb] SET DATE_CORRELATION_OPTIMIZATION OFF 
GO
ALTER DATABASE [zoodb] SET TRUSTWORTHY OFF 
GO
ALTER DATABASE [zoodb] SET ALLOW_SNAPSHOT_ISOLATION OFF 
GO
ALTER DATABASE [zoodb] SET PARAMETERIZATION SIMPLE 
GO
ALTER DATABASE [zoodb] SET READ_COMMITTED_SNAPSHOT OFF 
GO
ALTER DATABASE [zoodb] SET HONOR_BROKER_PRIORITY OFF 
GO
ALTER DATABASE [zoodb] SET RECOVERY FULL 
GO
ALTER DATABASE [zoodb] SET  MULTI_USER 
GO
ALTER DATABASE [zoodb] SET PAGE_VERIFY CHECKSUM  
GO
ALTER DATABASE [zoodb] SET DB_CHAINING OFF 
GO
ALTER DATABASE [zoodb] SET FILESTREAM( NON_TRANSACTED_ACCESS = OFF ) 
GO
ALTER DATABASE [zoodb] SET TARGET_RECOVERY_TIME = 60 SECONDS 
GO
ALTER DATABASE [zoodb] SET DELAYED_DURABILITY = DISABLED 
GO
ALTER DATABASE [zoodb] SET ACCELERATED_DATABASE_RECOVERY = OFF  
GO
EXEC sys.sp_db_vardecimal_storage_format N'zoodb', N'ON'
GO
ALTER DATABASE [zoodb] SET QUERY_STORE = ON
GO
ALTER DATABASE [zoodb] SET QUERY_STORE (OPERATION_MODE = READ_WRITE, CLEANUP_POLICY = (STALE_QUERY_THRESHOLD_DAYS = 30), DATA_FLUSH_INTERVAL_SECONDS = 900, INTERVAL_LENGTH_MINUTES = 60, MAX_STORAGE_SIZE_MB = 1000, QUERY_CAPTURE_MODE = AUTO, SIZE_BASED_CLEANUP_MODE = AUTO, MAX_PLANS_PER_QUERY = 200, WAIT_STATS_CAPTURE_MODE = ON)
GO

# [dbo].[animalCares]

In [0]:
USE [zoodb]
GO

In [0]:
/****** Object:  Table [dbo].[animalCares]    Script Date: 22/11/2025 21:40:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[animalCares](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AnimalId] [int] NOT NULL,
	[CareTypeId] [int] NOT NULL,
	[RealizationDate] [date] NOT NULL,
	[Observations] [varchar](1024) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[animals]

In [0]:
/****** Object:  Table [dbo].[animals]    Script Date: 22/11/2025 21:40:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[animals](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](64) NOT NULL,
	[Description] [varchar](512) NULL,
	[BirthDate] [date] NULL,
	[SpeciesId] [int] NOT NULL,
	[HabitatId] [int] NOT NULL,
	[BirthPlaceId] [int] NULL,
	[RegistrationDate] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[careTypes]

In [0]:
/****** Object:  Table [dbo].[careTypes]    Script Date: 22/11/2025 21:40:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[careTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](64) NOT NULL,
	[Description] [varchar](256) NULL,
	[Frequency] [varchar](32) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[countries]

In [0]:
/****** Object:  Table [dbo].[countries]    Script Date: 22/11/2025 21:40:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[countries](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](64) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[habitats]

In [0]:
/****** Object:  Table [dbo].[habitats]    Script Date: 22/11/2025 21:40:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[habitats](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](64) NOT NULL,
	[Description] [varchar](512) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[species]

In [0]:
/****** Object:  Table [dbo].[species]    Script Date: 22/11/2025 21:40:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[species](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](128) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [IX_AnimalCare_AnimalId_RealizationDate]

In [0]:
/****** Object:  Index [IX_AnimalCare_AnimalId_RealizationDate]    Script Date: 22/11/2025 21:40:08 ******/
CREATE NONCLUSTERED INDEX [IX_AnimalCare_AnimalId_RealizationDate] ON [dbo].[animalCares]
(
	[AnimalId] ASC,
	[RealizationDate] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [IX_AnimalCare_RealizationDate]

In [0]:
/****** Object:  Index [IX_AnimalCare_RealizationDate]    Script Date: 22/11/2025 21:40:08 ******/
CREATE NONCLUSTERED INDEX [IX_AnimalCare_RealizationDate] ON [dbo].[animalCares]
(
	[RealizationDate] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [IX_Animal_BirthPlaceId]

In [0]:
/****** Object:  Index [IX_Animal_BirthPlaceId]    Script Date: 22/11/2025 21:40:08 ******/
CREATE NONCLUSTERED INDEX [IX_Animal_BirthPlaceId] ON [dbo].[animals]
(
	[BirthPlaceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [IX_Animal_HabitatId]

In [0]:
/****** Object:  Index [IX_Animal_HabitatId]    Script Date: 22/11/2025 21:40:08 ******/
CREATE NONCLUSTERED INDEX [IX_Animal_HabitatId] ON [dbo].[animals]
(
	[HabitatId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [IX_Animal_SpeciesId]

In [0]:
/****** Object:  Index [IX_Animal_SpeciesId]    Script Date: 22/11/2025 21:40:08 ******/
CREATE NONCLUSTERED INDEX [IX_Animal_SpeciesId] ON [dbo].[animals]
(
	[SpeciesId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [DF__AnimalCar__Reali__48CFD27E]

In [0]:
ALTER TABLE [dbo].[animalCares] ADD  DEFAULT (CONVERT([date],sysdatetime())) FOR [RealizationDate]
GO

# [DF_Animal_registrationDate]

In [0]:
ALTER TABLE [dbo].[animals] ADD  CONSTRAINT [DF_Animal_registrationDate]  DEFAULT (CONVERT([date],getdate())) FOR [RegistrationDate]
GO

# [FK__AnimalCar__Anima__46E78A0C]

In [0]:
ALTER TABLE [dbo].[animalCares]  WITH CHECK ADD FOREIGN KEY([AnimalId])
REFERENCES [dbo].[animals] ([Id])
GO

# [FK__AnimalCar__CareT__47DBAE45]

In [0]:
ALTER TABLE [dbo].[animalCares]  WITH CHECK ADD FOREIGN KEY([CareTypeId])
REFERENCES [dbo].[careTypes] ([Id])
GO

# [FK__Animal__BirthPla__412EB0B6]

In [0]:
ALTER TABLE [dbo].[animals]  WITH CHECK ADD FOREIGN KEY([BirthPlaceId])
REFERENCES [dbo].[countries] ([Id])
GO

# [FK__Animal__HabitatI__403A8C7D]

In [0]:
ALTER TABLE [dbo].[animals]  WITH CHECK ADD FOREIGN KEY([HabitatId])
REFERENCES [dbo].[habitats] ([Id])
GO

# [FK__Animal__SpeciesI__3F466844]

In [0]:
ALTER TABLE [dbo].[animals]  WITH CHECK ADD FOREIGN KEY([SpeciesId])
REFERENCES [dbo].[species] ([Id])
GO

# [zoodb]

In [0]:
USE [master]
GO

In [0]:
ALTER DATABASE [zoodb] SET  READ_WRITE 
GO